<!doctype html>

	
	<html>

	<head>	

	<Style>
	
	body {
		background-color: #96ccc5
	
	}

	ul {

	   list-style-type: none;
	   margin: 0;
	   padding: 0;
	   overflow: hidden;
	   background-color: #374250

	   }

	
	li {

	float: left;
	   
	    }

	li a {
		display: block;
		color: white;
		text-align: centre;
		padding: 14px 16px;
		text-decoration: none;
	      }

	li a:hover {
		background-color: #b53922
		   }


	.active {
			background-color: #eb8a29
		}

	</style>

	</head>



	<body>

	<ul>
	    <li><a href="/home">Home</a></li>
	    <li><a href="/character">Character</a></li>
	    <li><a href="/item">Item</a></li>
	    <li><a class="active"  href="/location">Location</a></li>
	    <li style="float:right"><a href="/about">About</a></li>
	</ul>

	{% if name=="midgar"%}

	<h2 align="center"> Midgar </h2>

	<p align="center"> Midgar is one of the major locations in the game as the player you visit it multiple times throughout the game including a long section at the beginning of the game </p>

	<p align="center">Midgar is a city built by shinra and is split up into to halves the upper city that is built on a plate and the lower city that is mostly slums</p>

	<p align="center"> the city of midgar is the home of both Cloud and Barret and the Headquarters of both AVALANCHE and shinra</p>

	
	{% elif name=="junon"%}

	<h2 align="center"> Junon </h2>

	<p align="center"> Junon is a port city that is built around a giant cannon it is the secondary headquarters of shinra</p>
 	
	<p align="center">junon was once a small fishing town before shinra built a mako cannon that is one of their largest military instilations</p>

	{% elif name=="wutai"%}

	<h2 align="center"> Wutai</h2>

	<p align="center">Wutai is the home of Yuffie and is a nation on the west most cotinent of the planet</p>

	<p align="center"> Wutai is a nation that is at war with shinra and because of the war the nation has been serving as a tourist destination</p>
	
	<p align="center">people from the nation of wutai are refered to as wutai </p>

	{% else %}
	
	<h2 align="center">Location List</h2>

	<p align="center">Please select the location you would like to find ou more about from the list below</p>


	<p align="center"><a href="midgar">Midgar</a>
	<p> </p>
	<p align="center"><a href="junon">Junon</a>
	<p></p>
	<p align="center"><a href="wutai">Wutai</a>
	
	
	{% endif %}
	
	</body>
</html>

