<!doctype html>

	
	<html>

	<head>	

	<Style>
	
	body {
		background-color: #96ccc5
	
	}

	ul {

	   list-style-type: none;
	   margin: 0;
	   padding: 0;
	   overflow: hidden;
	   background-color: #374250

	   }

	
	li {

	float: left;
	   
	    }

	li a {
		display: block;
		color: white;
		text-align: centre;
		padding: 14px 16px;
		text-decoration: none;
	      }

	li a:hover {
		background-color: #b53922
		   }


	.active {
			background-color: #eb8a29
		}

	</style>

	</head>



	<body>

	<ul>
	    <li><a  href="/home">Home</a></li>
	    <li><a href="/character">Character</a></li>
	    <li><a href="/item">Item</a></li>
	    <li><a href="/location">Location</a></li>
	    <li style="float:right"><a class="active"  href="/about">About</a></li>
	</ul>


	<p> this is a wiki for the game final fantasy 7 oringinaly released in 1997 </p>

	<p> contact me at: 40324334@live.napier.ac.uk </p> 

	</body>
</html>

