<!doctype html>

	
	<html>

	<head>	


	<div class="topnav">
	  <a class="active" href="#home">Home</a>
	  <a href="#Characters">Characters</a>
	  <a href="#items">Items</a>
	  <a href="#Location">Locations</a>
	</div>


	<meta name="viewport" content="width=device-width,initial-scale=1">

	
	<style>


	body {
		margin: 0;
		background-color:#f3f6e8;
	     }	

	.topnav a {
		
		float: left;
		color: #fbf9f9;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
		font-size: 17px;
		}


	.topnav a {
		background-color: #3bada0;
		overflow: hidden;
		}

	.topnav a:hover {
	background-color:#fdcd5b;
	color: black;
	}

	</style>

	</head>
</html>

