<!doctype html>

	
	<html>

	<head>	

	<Style>
	
	body {
		background-color: #96ccc5
	
	}

	ul {

	   list-style-type: none;
	   margin: 0;
	   padding: 0;
	   overflow: hidden;
	   background-color: #374250

	   }

	
	li {

	float: left;
	   
	    }

	li a {
		display: block;
		color: white;
		text-align: centre;
		padding: 14px 16px;
		text-decoration: none;
	      }

	li a:hover {
		background-color: #b53922
		   }


	.active {
			background-color: #eb8a29
		}

	</style>

	</head>



	<body>

	<ul>
	    <li><a href="/home">Home</a></li>
	    <li><a href="/character">Character</a></li>
	    <li><a class="active"  href="/item">Item</a></li>
	    <li><a href="/location">Location</a></li>
	    <li style="float:right"><a href="/about">About</a></li>
	</ul>



	{% if name=="potion"%}

	<h2> Potion </h2>
		
	<p> a potion restores 100 hp both in combat and out of combat</p>

	<p> they are extremely common items being found in many different places and also sold in every item store for 50 Gil </p>

	<h2> trivia </h2>

	<p> Square enix had a real world potion drink created </p>


	{% elif name=="phoenix-down"%}

	<h2> Phoenix Down </h2>

	<p> Phoenix Downs are used to revive party members who have been Knocked Out </p>

	<P> they are for sale in every item store for 300 Gil </p>

	<p> they bring your party member back to life with 25% of their health </P>

	{% elif name=="ether"%}

	<h2> Ether </h2> 

	<p> Ethers are used to to restore 100 magic points to party members per use</p>

	<P> they can be used in and out of combat </p>

	<P> they are sold in item shops for 1500 Gil </p>

	{% else %}

	<h1> Item list </h1>

	<p> Please select the item you would like to know about </p>

	<a href="potion">Potion</a>

	<p> </p>
	
	<a href="phoenix-down">Phoenix Down</a>

	<p> </p>

	<a href="ether">Ether</a>
	
	{% endif %}

	</body>
</html>

